# Visual Crossing Weather API Configuration
# Get your API key at: https://www.visualcrossing.com/weather-api

WEATHER_API_KEY=sua_chave_aqui
WEATHER_API_BASE_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
MONGO_URL=mongodb://localhost:27017
